div {
  padding: 5px;
}

.content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

span {
  max-width: 50%;
}

img {
  width: 100%;
  max-width: 500px;
}
