<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LanBui</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <table>
      <tr>
        <td>
          <img src="static/lan.jpg" alt="lan profile picture" width="100" />
        </td>
        <td>
          <h1>Lan Bui</h1>
          <p>
            <em
              >Graduated from Faculty of Information Technology of
              <strong
                ><a href="https://vnu.edu.vn/eng/"
                  >Vietnam National University, Hanoi</a
                ></strong
              >
              in 2000s.</em
            >
          </p>
          <p>
            I am a full-stack web developer. I ❤️ coffee and assemble circuits.
          </p>
        </td>
      </tr>
    </table>
    <hr />
    <h3>BE Languages and Framework</h3>
    <ul>
      <li>C# & .Net Framework</li>
      <li>PHP & Laravel Frameworks</li>
      <li>Javascript & NodeJS/NestJS Framework</li>
      <li>Python & Flask Framework</li>
      <li>Java & Spring/Structs Framework</li>
    </ul>
    <hr />
    <h3>FE Languages and Frameworks</h3>
    <ul>
      <li>Javascript & Angular/VueJS/NuxtJS Framework</li>
    </ul>
    <hr />
    <h3>Cloud computing experience</h3>
    <table>
      <tbody>
        <tr>
          <td>Azure</td>
          <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>AWS</td>
          <td>⭐⭐⭐</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3>My tools</h3>
    <ul>
      <li><a href="/compare-image">Image Comparison</a></li>
      <li>
        <a href="/text-assistant">Text Assistant</a>
      </li>
    </ul>
    <hr />
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>
